/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Page Background */
body {
   background: linear-gradient(180deg, #75b7f0, #00f2fe, #b2efc6);
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main Container */
#main-container {
    width: 90%;
    max-width: 1100px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* App Container */
.app-container {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 30px;
    width: 380px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    color: #3b3a3a;
}

/* Title */
.app-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 600;
}

/* Search Box */
.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-box input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 14px;
}

.search-box button {
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.search-box button:hover {
    background-color: #0056b3;
}

/* Weather Card */
.weather-card {
    text-align: center;
}

/* City Name */
.city-name {
    font-size: 22px;
    font-weight: 600;
}

.date-time {
    font-size: 14px;
    opacity: 0.9;
    margin-bottom: 10px;
}

/* Temperature Section */
.temperature-section {
    margin: 15px 0;
}

.temperature {
    font-size: 48px;
    font-weight: bold;
}

.weather-condition {
    font-size: 16px;
    text-transform: capitalize;
}

/* Weather Details Grid */
.weather-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.detail {
    background: rgba(255,255,255,0.2);
    padding: 12px;
    border-radius: 10px;
}

.detail span {
    font-size: 12px;
    opacity: 0.8;
}

.detail p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 4px;
}

/* Map Section */
.embed-map-fixed {
    width: 380px;
     height: 400px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.embed-map-frame {
    width: 100%;
    height: 100%;
    border: none;
}

/* Responsive */
@media (max-width: 768px) {
    #main-container {
        flex-direction: column;
        align-items: center;
    }

    .app-container,
    .embed-map-fixed {
        width: 100%;
    }
}